" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc
let g:mapleader=<Space>
map <Space> <leader>

"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

" Do incremental searching.
set incsearch

" Don't use Ex mode, use Q for formatting.
map Q gq

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'


"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)

map <leader>ff <Action>(GotoFile)

" Telescope mappings
nmap <Leader>? <Action>(GotoRecentFile)
nmap <Leader><Space> <Action>(SwitchBuffers)
nmap <Leader>ff <Action>(GotoFile)
nmap <Leader>sh :Telescope help_tags<CR>
nmap <Leader>sw <Action>(FindInPath)
nmap <Leader>sg <Action>(FindInPath)
nmap <Leader>sd :Telescope diagnostics bufnr=0<CR>
nmap <Leader>ss :Telescope current_buffer_fuzzy_find <CR>
map <leader>sg <Action>(SearchEverywhere)
