let mapleader = " "

set scrolloff=5
set incsearch

Plug 'machakann/vim-highlightedyank'
Plug 'tpope/vim-commentary'

set visualbell

map <Leader>ff <Action>(GotoFile)
map <Leader>sg <Action>(FindInPath)
map <Leader>ca <Action>(ShowIntentionActions)
map <Leader>rn <Action>(RenameElement)
