* {
	border: none;
	border-radius: 0;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 12px;
	font-weight: bold;
	box-shadow: none;
	text-shadow: none;
	transition-duration: 0s;
}

window {
	color: rgba(217, 216, 216, 1);
	background: rgba(1, 1, 1, 1);
}

window#waybar.solo {
	background: rgba(1, 1, 1, 1);
}

#workspaces {
	/* border-radius: 20px; */
	background: rgba(40, 42, 54, 0.85);
	transition: none;
}

#workspaces button {
	transition: none;
	color: rgba(217, 216, 216, 0.4);
	background: rgba(40, 42, 54, 0.85);
	padding: 0 8px;
}

#workspaces button.visible {
	color: rgba(217, 216, 216, 1);
	background: rgba(60, 62, 74, 1);
	border-bottom: 3px solid white;
}


#workspaces button.focused {
	border-top: 3px solid #9aedfe;
	color: #9aedfe;
}

#workspaces button:hover {
	border-top: 3px solid #ff79c6;
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
	color: #ff79c6;
}

#workspaces button.urgent {
	color: rgba(238, 46, 36, 1);
}

#mode,
#cpu,
#memory,
#network,
#pulseaudio,
#idle_inhibitor,
#clock,
#tray,
#backlight {
	min-width: 25px;
	margin-left: 4px;
	margin-right: 4px;
	padding-left: 10px;
	padding-right: 10px;
	/* border-radius: 20px; */
	color: #FFFFEE;
	transition: none;
}

#clock {
	background: rgba(107, 142, 35, 0.85);
}


#pulseaudio {
	background: rgba(189, 183, 107, 0.85);
}

#cpu {
	background: rgba(205, 92, 92, 0.85);
}

#memory {
	background: rgba(222, 184, 135, 0.85);
}

#tray {
	background: rgba(119, 136, 153, 0.85);
}
