@define-color bg #0E0E0E;
@define-color text #FFE;
@define-color tp rgba(40, 40, 40, 0);
@define-color bg2 #FFE;
@define-color bg3 #99917f;
/* -----------------------------------------------------
 * General 
 * ----------------------------------------------------- */

* {
    font-family: "JetBrainsMono Nerd Font";
    border: none;
    border-radius: 0px;
    font-weight: bold;

}

window#waybar {
    background-color: @tp;
    transition-property: background-color;
    transition-duration: .5s;
}

#workspaces, #network, #clock, #tray, #pulseaudio {
    font-size: 14px;
    color: @text;
    border-radius: 5px;
    padding: 5px 5px;
    background-color: @bg;
}

#workspaces button {
    border: 0px;
    margin: 0 2px;
    padding: 1px 5px;
    color: @text;
    transition: all 0.5s ease-in-out;
    border-radius: 5px;
}

#workspaces button.active {
    color: @bg;
    background-color: @bg2;
    border-radius: 5px;
}

#workspaces button:hover {
    color: @bg;
    background: @bg2;
    border-radius: 5px;
}

#network.ethernet {
    color: @text;
}

#network.wifi {
    color: @text;
}

#pulseaudio.muted {
    color: @text;
}
